# SPDX-FileCopyrightText: Copyright (c) 2022-2025 Objectionary.com
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: cargo
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - uses: actions-rs/toolchain@v1.0.7
        with:
          toolchain: stable
      - run: cargo --color=never test --all-features -vv -- --nocapture
      - run: cargo --color=never test --all-features --release -vv -- --nocapture
      - run: cargo --color=never fmt --check
      - run: cargo --color=never doc --no-deps
      - run: cargo --color=never clippy -- --no-deps
      - run: cargo --color=never bench -vv -- --nocapture
